body {
    display: flex;
    justify-content: center;
    background-color: black;
}

p {
    color: white;
    padding-left: 10px;
    font-size: larger;
}

.gameArea {
    width: 800px;
    height: 800px;
    border: solid white 2px;
}

.snake-head {
    background-color: green;
    width: 40px;
    height: 40px;
    left:385px;
    top:385px;
    text-align: center;
    color: green;
    border-radius: 5px;
    position: relative;
}

.snake-body {
    background-color: red;
    width: 40px;
    height: 40px;
    text-align: center;
    color: red;
    border-radius: 5px;
    position: relative;
}

#pomme {
    width: 35px;
    height: 35px;
    background-color: red;
    color: red;
    border-radius: 100px;
    position: relative;
}

button {
    height: 50px;
    position: relative;
    top:70px;
    right: 75px;
    margin-left: 10px;
    color: white;
    background-color: black;
    border-color: aquamarine;
}
