@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Sixtyfour&display=swap');

body {
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: "Pixelify Sans", sans-serif;
}

p {
    color: white;
    padding-left: 30px;
    font-size: 30px;
}

.gameArea {
    width: 800px;
    height: 800px;
    border: solid white 2px;
    position:relative;
    border-radius: 20px;
    background-image: url(../image/grass.png);
}

.snake-head {
    background-image: url(../image/player.png);
    background-size: 400%;
    background-position: center;
    height: 100px;
    width: 50px;
    left:385px;
    top:385px;
    text-align: center;
    color: lime;
    border-radius: 15px;
    position: absolute;

}

.wall {
    background-image: url(../image/Brick.png);
    background-size: contain;
    width: 40px;
    height: 40px;
    text-align: center;
    color: red;
    border-radius: 5px;
    position: absolute;
    background-color: red;
}

#pomme {
    width: 45px;
    height: 45px;
    background-image: url(../image/apple.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: red;
    border-radius: 100px;
    position: absolute;
    border-radius: 50px;
}

button {
    height: 50px;
    position: relative;
    top:75px;
    right: 165px;
    margin-left: 10px;
    color: white;
    background-color: black;
    transition:0.5s;
    box-shadow: none;
}

button:hover {
    height: 60px;
    transition:0.5s;
    border-color:red;
    border-radius: 30px;
}

h1 {
    color: white;
    position: relative;
    right:150px;
    font-size: 60px;
    color: aqua;
    transition: 0.5s;
    display: inline;
}

h1:hover {
    color: red;
    font-size: 65px;
    transition:0.5s;
}

.gameover {
    color:red;
    position: absolute;
    top:280px;
    left:23%;
    font-size: 5em;
    display:none;
}

.fapple {
    width: 45px;
    height: 45px;
    background-image: url(../image/fapple.png);
    background-size:100%;
    text-align: center;
    color: blue;
    border-radius: 100px;
    position: absolute;
    border-radius: 50px;
}

.fappleimg {
    width: 1px;
    height: 1px;
    position: absolute;
}

input {
    position: absolute;
    top:170px;
    left:1215px;
}